<h1>モデル一覧</h1>

<div class="d-flex align-items-center justify-content-center mt-3 mb-3">
  <span class="border border-secondary py-3 px-5">
    <%= search_form_for @q do |f| %>
      <%= f.search_field :name_cont, placeholder:"モデル名", class:"mr-4" %>

      <%= f.search_field :age_gteq, size: "6x6", placeholder:"年齢",  class:"mr-1" %>歳〜
      <%= f.search_field :age_lt, size: "6x6", placeholder:"年齢",  class:"mr-1" %>歳

      <%= f.search_field :stature_gteq, size: "7x7", placeholder:"身長",  class:"mr-1 ml-4" %>㎝〜
      <%= f.search_field :stature_lt, size: "7x7", placeholder:"身長",  class:"mr-1" %>cm

    　<%= f.radio_button :gender_eq, '', {:checked => true} %>共通
      <%= f.radio_button :gender_eq, false %>男性
      <%= f.radio_button :gender_eq, true %>女性

      <%= f.submit "検索", class:"btn btn-secondary rounded-pill ml-4" %>

    <% end %>
  </span>
</div>

<div class="container mb-4">
<div class="row d-flex align-items-center justify-content-center">
  <%= sort_link(@q, :name, "名前") %>&nbsp;/&nbsp;
  <%= sort_link(@q, :age, "年齢") %>&nbsp;/&nbsp;
  <%= sort_link(@q, :created_at, "登録日") %>
</div>
</div>


  <div class="container">
    <div class="row">
      <% @actors.each do |actor| %>
        <div class="col-lg-3 col-md-6">
          <div class="card mx-auto mb-4 bg-dark text-white">
            <%= link_to actor_path(actor) do %>
              <%= attachment_image_tag actor, :image, size: "210x300", class:"card-img-top", fallback: "no-image.jpeg" %>
            <% end %>
              <p class="card-text text-center"><%= actor.name %></p>
          </div>
        </div>
      <% end %>
    </div>
  </div>


