<h1 class="py-3 bg-dark text-white text-center"><strong>MODEL LIST</strong></h1>

<!-----------ransack検索機能------------->
<div class="row d-flex align-items-center justify-content-center mt-4 mb-3 mx-3">
  <span class="r_search border border-secondary py-3 px-5 bg-white">
    <%= search_form_for @q do |f| %>
      <%= f.search_field :name_cont, placeholder:"モデル名", class:"mr-4" %>


      <%= f.search_field :age_gteq, size: "6x6", placeholder:"年齢",  class:"mr-1 r_sarch_text1" %>歳〜
      <%= f.search_field :age_lt, size: "6x6", placeholder:"年齢",  class:"mr-1 r_sarch_text1" %>歳


      <%= f.search_field :stature_gteq, size: "7x7", placeholder:"身長",  class:"mr-1 ml-2" %>㎝〜
      <%= f.search_field :stature_lt, size: "7x7", placeholder:"身長",  class:"mr-1 r_sarch_text2" %>cm

    　<%= f.radio_button :gender_eq, '', {:checked => true} %>共通
      <%= f.radio_button :gender_eq, false %>男性
      <%= f.radio_button :gender_eq, true %>女性

      <%= f.submit "検索", class:"btn btn-secondary rounded-pill ml-4 r_sarch_text3" %>

    <% end %>
  </span>
</div>

<div class="container">
<div class="row d-flex align-items-center justify-content-center">
  <%= sort_link(@q, :name, "名前") %>&nbsp;/&nbsp;
  <%= sort_link(@q, :age, "年齢") %>&nbsp;/&nbsp;
  <%= sort_link(@q, :created_at, "登録日") %>
  </div>
</div>
<!--------------ここまで----------------->

    <div class="r_actor_card1 row px-5 pt-3 pb-5">
      <% @actors.each do |actor| %>
        <div class="r_actor_card2 col-lg-3 col-md-6">
          <div class="card mx-auto mb-4 bg-dark text-white">
            <%= link_to actor_path(actor) do %>
              <%= attachment_image_tag actor, :image, size: "210x370", class:"card-img-top", fallback: asset_path("no-image.jpeg") %>
              <!----------javascript(jquery)機能-------------->
              <div class="caption1 text-center">
                <h3 class="mb-5"><strong><%= actor.name %></strong></h3>
                <h5>Bron：<%= actor.born_year %>/<%= actor.born_month %>/<%= actor.born_day %></h5>
                <h5 class="my-3">Age：<%= actor.age %></h5>
                <h5>Gender：
                    <% if actor.gender == true %>
                        <th>Woman</th>
                    <% else %>
                        <th>Men</th>
                    <% end %>
                </h5>
              </div>
              <!----------ここまで-------------------->
            <% end %>
              <p class="card-text text-center"><%= actor.name %></p>
          </div>
        </div>
      <% end %>
    </div>

<!----kaminari----->
<div class="d-flex align-items-center justify-content-center">
<%= paginate @actors %>
</div>

<!---------javascript機能-------------->
<script>
$(function () {
    $('.card').hover(function () {
        $('.caption1', this).animate({
            top: "0%"
        }, 500);
    }, function () {
        $('.caption1', this).animate({
            top: "100%"
        }, 700);
    });
});
</script>