<div class="text-center alert-info"><%= notice %></div>

<div class="container p-5 px-sm-0 bg-white border border-secondary shadow-lg">
    <div class="row ml-1">
        <div class="col-lg-5 mr-3">
          <%= attachment_image_tag @actor, :image, size: "400x500", class:"card-img-top border", fallback: asset_path("no-image.jpeg")  %>
            <div class="row d-flex justify-content-around my-4">
              <!------------インスタアカウントに遷移-------------->
             <a href="https://www.instagram.com/<%= @actor.instagram_rink %>"><i class="fab fa-instagram fa-4x"></i></a>
              <!-------------Twitterアカウントに遷移-------------->
              <a href="https://twitter.com/<%= @actor.twitter_rink %>"><i class="fab fa-twitter fa-4x"></i></a>
              <!------------TikTokアカウントに遷移---------------->
              <a href="https://www.tiktok.com/<%= @actor.tiktok_rink %>"><i class="fab fa-tiktok fa-4x rounded"></i></a>
              <!---------その他自分で設定したurlに遷移------------>
              <a href="<%= @actor.others_rink %>"><i class="fas fa-globe fa-4x"></i></a>
            </div>
        </div>

        <!----------お気に入り機能（部分テンプレート）---------->
        <div class="col-lg-6">
            <h1 class="row justify-content-between"><%= @actor.name %>
            <div id="favorite-btn_<%= @actor.id %>">
             <%= render 'actor/favorites/favorites', actor: @actor %>
            </div>
            </h1>
        <!---------------ここまで---------------->

                <table class='table'>
                  <tr>
                    <th class="mr-5">生年月日：</th>
            	    <th><%= @actor.born_year %> 年 <%= @actor.born_month%> 月 <%= @actor.born_day %> 日</th>
                  </tr>
                  <tr>
                    <th>年齢：</th>
                    <th><%= @actor.age %> 歳</th>
                  </tr>
                  <tr>
                    <th>性別：</th>
                    <% if @actor.gender == true %>
                        <th>女性</th>
                    <% else %>
                        <th>男性</th>
                    <% end %>
                  </tr>
                  <tr>
                    <th>身長：</th>
                    <th><%= @actor.stature %> cm</th>
                  </tr>
                  <tr>
                    <th>自己PR：</th>
                    <th><%= simple_format(h(@actor.body)) %></th>
                  </tr>
                  <tr>
                    <th>出演経歴：</th>
                    <th><%= simple_format(h(@actor.career)) %></th>
                  </tr>
                  <tr>
                    <th>連絡先：</th>
                    <th><%= @actor.contact %></th>
                  </tr>
            </table>
        </div>
    </div>
     <div class="row d-flex align-items-center justify-content-center mt-3">
        <% if actor_signed_in? %>
          <% if @actor.id == current_actor.id %>
            <%= link_to "編集", edit_actor_path(@actor), class: "btn btn-secondary btn-lg" %>
          <% end %>
        <% end %>
    </div>
</div>