<h1 class="py-3 bg-dark text-white text-center"><strong>CLIENT</strong></h1>

  <div class="container pb-5">
    <div class="row text-center mt-5 bg-white">
        <table class="table">
          <thead>
            <tr>
              <th>ID</th>
              <th>名前</th>
              <th class="ml-2">登録日</th>
              <th>会員ステータス</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% @clients.each do |client| %>
              <tr>
                <td><%= client.id %></td>
                <td><%= client.name %></td>
                <td><%= client.created_at.strftime("%Y/%m/%d") %></td>
                <% if client.is_deleted == true %>
                  <td class="text-danger">退会</td>
                <% else %>
                  <td class="text-success">有効</td>
                <% end %>
                <td class="text-right"><%= link_to "詳細", admin_client_path(client), class: "btn btn-secondary" %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>

 <!----kaminari----->
<div class="d-flex align-items-center justify-content-center">
<%= paginate @clients %>
</div>