

<div class="container my-5">
    <div class="row">
      <div class="col-11">
        <h1 class="mb-3">お問合せ確認</h1>
          <%= form_with model: @inquiry, url:inquiry_thanks_path, local:true do |f| %>
           <table class='table'>
              <tr>
                <th class="col-3">お名前：</th>
                <th>
                  <%= f.hidden_field :name %>
                  <%= @inquiry.name %>
                </th>
              </tr>
              <tr>
                <th>メールアドレス：</th>
                <th>
                  <%= f.hidden_field :email %>
                  <%= @inquiry.email %>
                </th>
              </tr>
              <tr>
                <th>お問い合わせ内容：</th>
                <th>
                  <%= f.hidden_field :message %>
                  <%= simple_format(@inquiry.message) %>
                </th>
              </tr>
           </table>
         <div class="row d-flex align-items-center justify-content-center mt-3">
                <%= f.submit "送信", class: "btn btn-secondary" %>
            <% end %>
         </div>
      </div>
    </div>
  </div>