<h1 class="py-2 bg-dark text-white text-center"><strong>JOB DETAILS</strong></h1>

  <div class="container py-5">
    <div class="row bg-white shadow-lg rounded border border-secondary">
      <div class="col-11">
        <h1 class="my-3 ml-2"><strong><%= @job_request.title %></strong></h1>
         <table class='table ml-5'>
            <tr>
              <th class="col-3">仕事内容：</th>
              <th><%= simple_format(h(@job_request.job_content)) %></th>
            </tr>
            <tr>
              <th>性別：</th>
              <th><%= @job_request.recruitment_gender %></th>
            </tr>
            <tr>
              <th>身長：</th>
              <th><%= @job_request.recruitment_stature %></th>
            </tr>
            <tr>
              <th>その他募集内容：</th>
              <th><%= @job_request.recruitmebt_other %></th>
            </tr>
            <tr>
              <th>報酬金：</th>
              <th><%= @job_request.money %>円</th>
            </tr>
            <tr>
              <th>依頼元urlまたは連絡先：</th>
              <th><a href="<%= @job_request.contact %>"><%= @job_request.contact %></a></th>
            </tr>
         </table>
         <div class="row d-flex align-items-center justify-content-center my-3">
            <% if client_signed_in? %>
              <% if @job_request.client_id == current_client.id %>
              <div class="mr-4">
                <%= link_to "編集", edit_client_job_request_path(@job_request), class: "btn btn-secondary btn-lg" %>
              </div>
                <%= link_to "削除", client_job_request_path(@job_request), method: :delete, "data-confirm" => "削除しますか?", class: "btn btn-secondary btn-lg" %>
              <% end %>
            <% end %>
         </div>
      </div>
    </div>
  </div>