<div class="text-center alert-info"><%= notice %></div>
<div class="container px-sm-0 p-5">
    <div class="row">
        <div class="col-md-5">
          <%= attachment_image_tag @client, :image, size: "400x400", class:"card-img-top", fallback: asset_path("no-image.jpeg") %>
        </div>
        <div class="col-md-6 pt-5">
            <h1><%= @client.name %></h1>
                <table class='table'>
                  <tr>
                    <th class="mr-5">自己紹介：</th>
                    <th><%= @client.body %></th>
                  </tr>
                  <tr>
                    <th>連絡先：</th>
                    <th><%= @client.contact %></th>
                  </tr>
            </table>
        </div>
    </div>
    <div class="row d-flex align-items-center justify-content-center mt-5">
      <% if client_signed_in? %>
          <% if @client.id == current_client.id %>
            <div class="mr-5">
              <%= link_to "お仕事登録", new_client_job_request_path, class: "btn btn-secondary" %>
            </div>
          <%= link_to "マイページ編集", edit_client_client_path(@client), class: "btn btn-secondary" %>
        <% end %>
      <% end %>
    </div>
</div>