<!DOCTYPE html>
<html>
  <head>
    <title>Modelconnection</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/759355d5ee.js" crossorigin="anonymous"></script>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-light py-3">
        <a href="/"><img src="https://fontmeme.com/permalink/220116/19e1a8b19fa0b1369803cc39f862d2b5.png" alt="font-rogue-one-film" border="0"></a>
        <button class="navbar-toggler bg-light" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="true" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="navbar-collapse collapse text-center" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <% if actor_signed_in? %>
              <li class="nav-item mb-4 mt-5 text-info"><h3>Welcom! <%= current_actor.name %>様!</h3></li>
              <li class="nav-item mb-4"><h3><%= link_to "Model list", actors_path, class:"text-white" %></h3></li>
              <li class="nav-item mb-4"><h3><%= link_to "My page", actor_path(current_actor.id), class:"text-white" %></h3></li>
              <li class="nav-item mb-4"><h3><%= link_to "Job list", job_requests_path, class:"text-white" %></h3></li>
              <li class="nav-item mb-4"><h3><%= link_to "Clitent list", clients_path, class:"text-white" %></h3></li>
              <li class="nav-item mb-4"><h3><%= link_to "Contact Us", inquiry_path, class:"text-white" %></h3></li>
              <li class="nav-item mb-4"><h3><%= link_to "Log-out", destroy_actor_session_path, method: :delete , class:"text-white"%></h3></li>
            <% elsif client_signed_in?  %>
              <li class="nav-item mb-4 mt-5 text-info"><h3>Welcom! <%= current_client.name %>様!</h3></li>
              <li class="nav-item mb-4"><h3><%= link_to "Model list", actors_path, class:"text-white" %></h3></li>
              <li class="nav-item mb-4"><h3><%= link_to "My page", client_client_path(current_client.id), class:"text-white" %></h3></li>
              <li class="nav-item mb-4"><h3><%= link_to "Favorite model", favorites_client_clients_path, class:"text-white" %></h3></li>
              <li class="nav-item mb-4"><h3><%= link_to "Job list", job_requests_path, class:"text-white" %></h3></li>
              <li class="nav-item mb-4"><h3><%= link_to "Registered job", client_job_requests_path, class:"text-white" %></h3></li>
              <li class="nav-item mb-4"><h3><%= link_to "Job create", new_client_job_request_path, class:"text-white" %></h3></li>
              <li class="nav-item mb-4"><h3><%= link_to "Contact Us", inquiry_path, class:"text-white" %></h3></li>
              <li class="nav-item mb-4"><h3><%= link_to "Log-out", destroy_client_session_path, method: :delete, class:"text-white" %></h3></li>
            <% else %>
              <li class="nav-item mb-4 mt-5"><h3><%= link_to "Model list", actors_path, class:"text-white" %></h3></li>
              <li class="nav-item mb-4"><h3><%= link_to "About", about_path, class:"text-white" %></h3></li>
              <li class="nav-item mb-4"><h3><%= link_to "Contact Us", inquiry_path, class:"text-white" %></h3></li>
              <li class="nav-item mb-4"><h3><%= link_to "Job list", job_requests_path, class:"text-white" %></h3></li>
              <li class="nav-item mb-4"><h3><%= link_to "Model log-in", new_actor_session_path, class:"text-white" %></h3></li>
              <li class="nav-item mb-4"><h3><%= link_to "Clitent log-in", new_client_session_path, class:"text-white" %></h3></li>
            <% end %>
          </ul>
        </div>
      </nav>
    </header>

    <main>
    <%= yield %>
    </main>

    <footer>
		<div class="container">
			  <% if signed_in? %>
			<div class="row text-center text-xs-center text-sm-left text-md-left pt-5">
				<div class="col-xs-12 col-sm-4 col-md-4">
					<h4 class="text-white">Quick links</h4>
					<ul class="list-unstyled quick-links ml-3">
						<li class="nav-item my-2"><%= link_to ">>Home", root_path, class:"text-white" %></li>
						<li class="nav-item mb-2"><%= link_to ">>About", about_path, class:"text-white" %></li>
						<li class="nav-item"><%= link_to ">>Contact Us", inquiry_path, class:"text-white" %></li>
					</ul>
				</div>
				<div class="col-xs-12 col-sm-4 col-md-4">
					<h4 class="text-white">Model</h4>
					<ul class="list-unstyled quick-links ml-3">
            <li class="nav-item my-2"><%= link_to ">>Model list", actors_path, class:"text-white" %></li>
						<li class="nav-item mb-2"><%= link_to ">>Job list", job_requests_path, class:"text-white" %></li>
					</ul>
				</div>
				<div class="col-xs-12 col-sm-4 col-md-4">
					<h5 class="text-white">Clitent</h5>
					<ul class="list-unstyled quick-links ml-3">
						<li class="nav-item my-2"><%= link_to ">>Clitent list", clients_path, class:"text-white" %></li>
					</ul>
				</div>
			</div>
			<% else %>
			<div class="row text-center text-xs-center text-sm-left text-md-left pt-5">
				<div class="col-xs-12 col-sm-4 col-md-4">
					<h4 class="text-white">Quick links</h4>
					<ul class="list-unstyled quick-links ml-3">
						<li class="nav-item my-2"><%= link_to ">>Home", root_path, class:"text-white" %></li>
						<li class="nav-item mb-2"><%= link_to ">>About", about_path, class:"text-white" %></li>
						<li class="nav-item"><%= link_to ">>Contact Us", inquiry_path, class:"text-white" %></li>
					</ul>
				</div>
				<div class="col-xs-12 col-sm-4 col-md-4">
					<h4 class="text-white">Model</h4>
					<ul class="list-unstyled quick-links ml-3">
            <li class="nav-item my-2"><%= link_to ">>Model list", actors_path, class:"text-white" %></li>
						<li class="nav-item mb-2"><%= link_to ">>Job list", job_requests_path, class:"text-white" %></li>
						<li class="nav-item mb-2"><%= link_to ">>Log-in", new_actor_session_path, class:"text-white" %></li>
						<li class="nav-item mb-2"><%= link_to ">>Sign-up", new_actor_registration_path, class:"text-white" %></li>
					</ul>
				</div>
				<div class="col-xs-12 col-sm-4 col-md-4">
					<h5 class="text-white">Clitent</h5>
					<ul class="list-unstyled quick-links ml-3">
						<li class="nav-item my-2"><%= link_to ">>Clitent list", clients_path, class:"text-white" %></li>
						<li class="nav-item mb-2"><%= link_to ">>Log-in", new_client_session_path, class:"text-white" %></li>
						<li class="nav-item mb-2"><%= link_to ">>Sign-up", new_client_registration_path, class:"text-white" %></li>
					</ul>
				</div>
			</div>
			<% end %>
			<div class="row mt-3 pb-2">
				<div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
					<p class="h6">© MODEL CONNECTION</p>
				</div>
				<hr>
			</div>
		</div>
	</footer>
</html>
