<!DOCTYPE html>
<html>
  <head>
    <title>Modelconnection</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/759355d5ee.js" crossorigin="anonymous"></script>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="#">MODEL CONNCTION</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="true" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="navbar-collapse collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <% if actor_signed_in? %>
              <li class="nav-item mb-3 mt-3">ようこそ、<%= current_actor.name %>様!</li>
              <li class="nav-item mb-3"><%= link_to "モデル一覧", actors_path %></li>
              <li class="nav-item mb-3"><%= link_to "マイページ", actor_path(current_actor.id) %></li>
              <li class="nav-item mb-3"><%= link_to "お仕事一覧" %></li>
              <li class="nav-item mb-3"><%= link_to "クライアント一覧", clients_path %></li>
              <li class="nav-item mb-3"><%= link_to "お問合せ" %></li>
              <li class="nav-item"><%= link_to "ログアウト", destroy_actor_session_path, method: :delete %></li>
            <% elsif client_signed_in?  %>
              <li class="nav-item mb-3">ようこそ、<%= current_client.name %>様!</li>
              <li class="nav-item mb-3"><%= link_to "モデル一覧", actors_path %></li>
              <li class="nav-item mb-3"><%= link_to "マイページ", client_client_path(current_client.id) %></li>
              <li class="nav-item mb-3"><%= link_to "お問合せ" %></li>
              <li class="nav-item mb-3"><%= link_to "登録お仕事一覧" %></li>
              <li class="nav-item"><%= link_to "ログアウト", destroy_client_session_path, method: :delete %></li>
            <% else %>
              <li class="nav-item mb-3 mt-3"><%= link_to "モデル一覧", actors_path %></li>
              <li class="nav-item mb-3"><%= link_to "ABOUT" %></li>
              <li class="nav-item mb-3"><%= link_to "お問合せ" %></li>
              <li class="nav-item mb-3"><%= link_to "お仕事一覧" %></li>
              <li class="nav-item mb-3"><%= link_to "モデルログイン、新規登録", new_actor_session_path %></li>
              <li class="nav-item"><%= link_to "クライアントログイン新規登録", new_client_session_path %></li>
            <% end %>
          </ul>
        </div>
      </nav>
    </header>
    <%= yield %>
    <footer class="py-3">
      <div class="container text-center text-black">
        <p>© MODEL CONNCTION</p>
      </div>
    </footer>
  </body>
</html>
